{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2 col-lg-2">
            <!-- Division for sidebar -->
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12">
            <h2><i class="bi bi-card-checklist"></i> <u>Lead Management</u></h2>
            <div>
                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card border btn-outline-success rounded">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalCategory">
                                        <div class="card-body my-1 btn-outline-success">
                                            <i class="bi bi-plus-circle-fill"></i> <br>Add<br> Category
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card border btn-outline-success rounded">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalSubCategory">
                                        <div class="card-body btn-outline-success py-3 pb-4 ">
                                            <i class="bi bi-subtract"></i> <br>Add <br>Sub-Category
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="card border btn-outline-success rounded">
                                    <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalAddUser">
                                        <div class="card-body btn-outline-success py-3 pb-4 ">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i> <br>Add <br>User
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-2"></div>
    </div>
</div>
{% else %}
<h4>This page was probably not meant for you!</h4>
{% endif%}
{% endif %}
{% endblock %}