{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
    <!-- Content Box -->
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-2 col-lg-2">
                <!-- Division for sidebar -->
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12">
                <h2><i class="bi bi-card-checklist"></i> <u>Resources Dashboard</u></h2>
                <div id="searchbar">
                    <form action="" class="row  mt-5">
                        <div class="dropdown col-md-2 col-lg-2 col-sm-12">
                            <select class="form-select" aria-label="set-state">
                                <option selected>Select State</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                            </select>
                        </div>
                        <div class="dropdown col-md-2 col-lg-2 col-sm-12">
                            <select class="form-select" aria-label="set-region">
                                <option selected>Select Region</option>
                                <option value="Delhi-NCR">Delhi-NCR</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                            </select>
                        </div>
                        <div class="dropdown col-md-2 col-lg-2 col-sm-12">
                            <select class="form-select" aria-label="select-category">
                                <option selected>Select Category</option>
                                <option value="Beds">Beds</option>
                                <option value="Medicine">Medicine</option>
                                <option value="Oxygen">Oxygen</option>
                            </select>
                        </div>
                        <div class="dropdown col-md-2 col-lg-2 col-sm-12">
                            <select class="form-select" aria-label="select-category">
                                <option selected>Select Type</option>
                                <option value="Private">Private</option>
                                <option value="Public (Govt.)">Public (Govt.)</option>
                                <option value="NGO/Community-run">NGO/Community-run</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3"></div>
                        <div class="col-md-1 col-lg-1 col-sm-12 align-right">
                            <button class="btn btn-outline-success">Search</button>
                        </div>
                    </form>
                </div>
                <hr class="content-divider">
                <div id="dashboard" class="mt-4">
                    <table id="dashboard-table" class="display border rounded" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name/Org.</th>
                                <th>Location</th>
                                {% for sub_category in sub_categories %}
                                <th>{{ sub_category }}</th>
                                {% endfor %}
                                <th>Lead Type</th>
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if leads %}
                            {% for lead in leads %}
                            <tr>
                                <td>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">{{lead.lead_name}}</a>
                                </td>
                                <td>{{lead.location.region}} <b>({{lead.location.state}})</b></td>
                                {% for availability in availabilies %}
                                <td>{{availability.available_count}}</td>
                                {% endfor %}
                                {% if lead.lead_type == "public" %}
                                <td>Public</td>
                                {% elif lead.lead_type == "private" %}
                                <td>Private</td>
                                {% else %}
                                <td>NGO / Others (Non-Profit)</td>
                                {% endif %}
                                <td>{{ lead.comments }}</td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div>
        </div>
    </div>
{% endif %}
{% endblock %}
   