<!-- Modal-1:Updating Lead Data -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="#">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Updating Lead Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form action="#" class="add-lead-form row">
                            <!-- Lead Contact Info Section -->
                            <h5>Contact Details Section</h5>
                            <hr>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                    <input type="text" required class="form-control" placeholder="Name/Org. of Lead"
                                        aria-label="Lead Source" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">Contact No.</span>
                                    <input type="text" required class="form-control" placeholder="+91xxxxxxxxxx"
                                        aria-label="Number" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">Select State</label>
                                    <select class="form-select" id="inputGroupSelect01" required>
                                        <option selected>State</option>
                                        <option value="Maharashtra">Maharashtra</option>
                                        <option value="Delhi">Delhi</option>
                                        <option value="Tamil Nadu">Tamil Nadu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="inputGroupSelect01">Select Region</label>
                                    <select class="form-select" id="inputGroupSelect01" required>
                                        <option selected>Region</option>
                                        <option value="Mumbai">Mumbai</option>
                                        <option value="Delhi-NCR">Delhi-NCR</option>
                                        <option value="Chennai">Chennai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-text">Full Address</span>
                                    <textarea required class="form-control" aria-label="Full Address"></textarea>
                                </div>
                            </div>
                            <div class="mt-3"></div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="bi bi-geo-alt"></i></span>
                                    <input type="text" required class="form-control" placeholder="Google Maps URL"
                                        aria-label="Lead Source" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon1">@</span>
                                    <input type="email" required class="form-control" placeholder="Email ID"
                                        aria-label="Lead Source" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 row">
                                <b class="col-md-2 col-sm-12 col-lg-2">Type of Lead: </b>
                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <input type="radio" class="btn-check" name="options-outlined"
                                        id="secondary-outlined" autocomplete="off" checked>
                                    <label class="btn btn-outline-secondary" for="secondary-outlined">Public
                                        (Government)</label>
                                </div>
                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <input type="radio" class="btn-check" name="options-outlined" id="info-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-info" for="info-outlined">Private (For
                                        Profit)</label>
                                </div>
                                <div class="col-md-3 col-sm-12 col-lg-3">
                                    <input type="radio" class="btn-check" name="options-outlined" id="dark-outlined"
                                        autocomplete="off">
                                    <label class="btn btn-outline-dark" for="dark-outlined">NGO / Others
                                        (Non-Profit)</label>
                                </div>
                            </div>
                            <div class="mt-3"></div>
                            <hr>

                            <!-- Adding resources -->
                            <h5>Category-1 Section</h5>
                            <hr>
                            <div class="col-md-6 col-lg-4 col-sm-12 ">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-1<br> Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-2<br> Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-3<br>Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-4<br> Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <hr>

                            <h5>Category-2 Section</h5>
                            <hr>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-1<br> Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-2<br> Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text col-lg-7 col-md-7 col-sm-12"
                                        id="basic-addon1">Sub-category-3<br>Count</span>
                                    <input type="number" min="0" class="form-control" placeholder="#"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4"></div>
                            <hr>
                            <p> <em>Updating data here will update data everywhere.</em> </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Understood, update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal-2:Approve Lead Data -->
<div class="modal fade" id="approveModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <!-- approve lead details -->
            <div class="container-fluid">

                <form action="#" class="add-lead-form row">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Approving Lead Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Lead Contact Info Section -->
                    <h5>Contact Details Section</h5>
                    <hr>

                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="p-1">Name: </p>
                            <span class="rounded p-1">Name of the Organization</span>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Contact No.</p>
                            <span class="rounded p-1">+91xxxxxxxxxx</span>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">State:</p>
                            <span class="rounded p-1">Maharashtra</span>

                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Region:</p>
                            <span class="rounded p-1">Mumbai</span>

                        </div>


                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Full Address:</p>
                            <span class="rounded p-1"> Chhatrapati Shivaji Maharaj International Airport, Terminal
                                2, Level 3, Mumbai, Maharashtra 400099</span>

                        </div>



                    </div>
                    <div class="mt-3"></div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">On Google Maps:</p>
                            <a href="https://www.google.com/maps/dir//terminal+2+mumbai+airport+address/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3be7c842cee36319:0x158a27c50fd02347?sa=X&ved=2ahUKEwjHnpCM_MPwAhWx7XMBHWQbAAcQ9RcwIHoECEUQBQ"
                                class="overflow-hidden p-1">click Here to Open</a>

                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Email:</p>
                            <span class="rounded p-1">abcd@gmail.com</span>

                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Type of Lead:</p>
                            <span class="rounded p-1 text-secondary">Public (Government)</span>
                            <span class="rounded p-1 text-info">Private (For Profit)</span>
                            <span class="rounded p-1 text-dark">NGO / Others (Non-Profit)</span>

                        </div>
                    </div>



                    <div class="mt-3"></div>
                    <hr>

                    <!-- approve resources -->
                    <h5>Category-1 Section</h5>
                    <hr>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold p-1">Sub-category-1 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-2 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-3 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-4 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <hr>

                    <h5>Category-2 Section</h5>
                    <hr>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold p-1">Sub-category-1 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold ">Sub-category-2 Count:</p>
                            <span class="rounded ">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold ">Sub-category-3 Count:</p>
                            <span class="rounded ">10</span>

                        </div>
                    </div>
                    <hr>
                    <p> <em>Adding data here will Add data everywhere.</em> </p>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Verified, Approve</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal-3: Data info -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lead Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Lead Name</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert lead name here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Contact Number</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert contact no. here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Email</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert email here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Address</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert address here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Google Map link</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert GMaps URL here
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal-4: Add Category-->
<div class="modal fade" id="exampleModalCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="needs-validation" validate>

                            <div class="form-row text-left">



                                <div class="col-md-12 mb-3">
                                    <label for="Category">Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="CategoryIcon"> <i
                                                    class="py-1 st fa fa-plus"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="Category" placeholder="Category"
                                            aria-describedby="CategoryIcon" required>
                                        <div class="invalid-feedback">
                                            Please Enter Category.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="SubCategory">Add Sub-Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SubCategoryIcon"><i
                                                    class="bi bi-subtract"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="SubCategory"
                                            placeholder="Sub-Category" aria-describedby="SubCategoryIcon" required>
                                        <div class="invalid-feedback">
                                            Please Enter Sub-Category.
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Model-5: Add subcategory -->
<div class="modal fade" id="exampleModalSubCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Subcategory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="needs-validation" validate>

                            <div class="form-row text-left">


                                <div class="dropdown col-md-12 col-lg-12 col-sm-12">
                                    <select class="form-select" aria-label="select-category">
                                        <option selected>Select Category</option>
                                        <option value="Beds">Beds</option>
                                        <option value="Medicine">Medicine</option>
                                        <option value="Oxygen">Oxygen</option>
                                    </select>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="SubCategory2">Add Sub-Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SubCategoryIcon2"><i
                                                    class="bi bi-subtract"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="SubCategory2"
                                            placeholder="Sub-Category" aria-describedby="SubCategoryIcon2" required>
                                        <div class="invalid-feedback">
                                            Please Enter Sub-Category.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary" type="submit">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Model-6: Add User -->
   
    <div class="modal fade" id="exampleModalAddUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content px-5 py-3">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <br>
                </div>
                <div class="form-group">
                    <br>
                    <div class="row">
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="first_name">First Name</label>
                           <input type="text" name="first_name" class="form-control" placeholder="Eg.: John" required>
                         </div>
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="last_name">Last Name</label>
                           <input type="text" name="last_name" class="form-control" placeholder="Eg.: Doe" required>
                         </div>
                    
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="email">Email</label>
                           <input type="email" name="email" class="form-control" placeholder="Eg.: abc@provider.com" required>
                         </div>
                     </div>
                     <br>
                     <div class="row">
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="username">Username</label>
                           <input type="text" name="username" class="form-control" placeholder="Username (Eg: flyingFalcon007)" required>
                         </div>
                   
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="password2">Password</label>
                           <input type="password" name="password" class="form-control" placeholder="Your password" required>
                         </div>
                         <div class="form-group col-md-4 col-sm-12">
                           <label for="password">Confirm Password</label>
                           <input type="password" name="password2" class="form-control" placeholder="Your password"required>
                         </div>
                     </div>
                     
                     <br>
                 </div>
             </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Register</button>
                </div>
            </div>

        </div>
    </div>
