<!-- Modal-1: Data info -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lead Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Lead Name</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert lead name here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Contact Number</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert contact no. here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Email</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert email here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Address</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert address here
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        <b>Google Map link</b>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6">
                        Insert GMaps URL here
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% if user.is_authenticated %}

<!-- Modal-3:Approve Lead Data -->
<div class="modal fade" id="approveModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">


            <!-- approve lead details -->
            <div class="container-fluid">

                <form action="#" class="add-lead-form row">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Approving Lead Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Lead Contact Info Section -->
                    <h5>Contact Details Section</h5>
                    <hr>

                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="p-1">Name: </p>
                            <span class="rounded p-1">Name of the Organization</span>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Contact No.</p>
                            <span class="rounded p-1">+91xxxxxxxxxx</span>

                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">State:</p>
                            <span class="rounded p-1">Maharashtra</span>

                        </div>


                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Region:</p>
                            <span class="rounded p-1">Mumbai</span>

                        </div>


                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Full Address:</p>
                            <span class="rounded p-1"> Chhatrapati Shivaji Maharaj International Airport, Terminal
                                2, Level 3, Mumbai, Maharashtra 400099</span>

                        </div>



                    </div>
                    <div class="mt-3"></div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">On Google Maps:</p>
                            <a href="https://www.google.com/maps/dir//terminal+2+mumbai+airport+address/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3be7c842cee36319:0x158a27c50fd02347?sa=X&ved=2ahUKEwjHnpCM_MPwAhWx7XMBHWQbAAcQ9RcwIHoECEUQBQ"
                                class="overflow-hidden p-1">click Here to Open</a>

                        </div>

                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Email:</p>
                            <span class="rounded p-1">abcd@gmail.com</span>

                        </div>
                    </div>

                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Type of Lead:</p>
                            <span class="rounded p-1 text-secondary">Public (Government)</span>
                            <span class="rounded p-1 text-info">Private (For Profit)</span>
                            <span class="rounded p-1 text-dark">NGO / Others (Non-Profit)</span>

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br>
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Comments:</p>
                            <span class="rounded p-1">Any additional comments are here</span>

                        </div>
                    </div>


                    <div class="mt-3"></div>
                    <hr>

                    <!-- approve resources -->
                    <h5>Category-1 Section</h5>
                    <hr>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold p-1">Sub-category-1 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-2 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-3 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold p-1">Sub-category-4 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <hr>

                    <h5>Category-2 Section</h5>
                    <hr>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold p-1">Sub-category-1 Count:</p>
                            <span class="rounded p-1">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group ">
                            <p class="font-weight-bold ">Sub-category-2 Count:</p>
                            <span class="rounded ">10</span>

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="input-group">
                            <p class="font-weight-bold ">Sub-category-3 Count:</p>
                            <span class="rounded ">10</span>

                        </div>
                    </div>
                    <hr>
                    <p> <em>Adding data here will Add data everywhere.</em> </p>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Verified, Approve</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{% if user.is_superuser %}

<!-- Modal-4: Add Category-->
<div class="modal fade" id="exampleModalCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'addcategory' %}" method="POST" class="needs-validation" validate>
                            {% csrf_token %}
                            <div class="form-row text-left">
                                <div class="col-md-12 mb-3">
                                    <label for="Category">Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="CategoryIcon"> <i
                                                    class="py-1 st fa fa-plus"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="Category" placeholder="Category"
                                            aria-describedby="CategoryIcon" name="category" required>
                                        <div class="invalid-feedback">
                                            Please Enter Category.
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-3">
                                    <label for="SubCategory">Add Sub-Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SubCategoryIcon"><i
                                                    class="bi bi-subtract"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="SubCategory"
                                            placeholder="Sub-Category" aria-describedby="SubCategoryIcon" name="subcategory" required>
                                        <div class="invalid-feedback">
                                            Please Enter Sub-Category.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Model-5: Add subcategory -->
<div class="modal fade" id="exampleModalSubCategory" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Subcategory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="needs-validation" action="{% url 'addsubcategory' %}" method="POST" validate>
                            {% csrf_token %}
                            <div class="form-row text-left">
                                <div class="dropdown col-md-12 col-lg-12 col-sm-12">
                                    <select class="form-select" aria-label="select-category" name="category">
                                        {% for category in categories %}
                                        <option value="{{category}}">{{category}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <label for="SubCategory2">Add Sub-Category</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="SubCategoryIcon2"><i
                                                    class="bi bi-subtract"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="SubCategory2"
                                            placeholder="Sub-Category" aria-describedby="SubCategoryIcon2" name="subcategory" required>
                                        <div class="invalid-feedback">
                                            Please Enter Sub-Category.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary" type="submit">Submit</button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Model-6: Add User -->
<div class="modal fade" id="exampleModalAddUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content px-5 py-3">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <br>
            </div>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <br>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label for="first_name">First Name</label>
                            <input type="text" name="first_name" class="form-control" placeholder="Eg.: John" required>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label for="last_name">Last Name</label>
                            <input type="text" name="last_name" class="form-control" placeholder="Eg.: Doe" required>
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Eg.: abc@provider.com"
                                required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="form-control"
                                placeholder="Username (Eg: flyingFalcon007)" required>
                        </div>

                        <div class="form-group col-md-4 col-sm-12">
                            <label for="password2">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Your password"
                                required>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label for="password">Confirm Password</label>
                            <input type="password" name="password2" class="form-control" placeholder="Your password"
                                required>
                        </div>
                    </div>

                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endif %}

{% endif %}